/* About.module.css */

@font-face {
  font-family: 'Apple Gothic';
  src: url('../src/assets/AppleSDGothicNeoR.ttf') format('truetype');
}

.container {
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    height: 100vh; 
    padding: 0 20px;
  }
  
  .rectangle1 {
    position: absolute;
    width: 300px; 
    height: 430px; 
    background-color: #FAE8C2; 
    margin-top: 140px;
    margin-left: 40px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
  }
  .rectangle2 {
    position: absolute;
    width: 300px; 
    height: 430px; 
    background-color: #FAE8C2; 
    margin-top: 140px;
    margin-left: 400px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
  }
  .rectangle3 {
    position: absolute;
    width: 300px; 
    height: 430px; 
    background-color: #FAE8C2; 
    margin-top: 140px;
    margin-left: 750px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
  }
  .rectangle4 {
    position: absolute;
    width: 300px; 
    height: 430px; 
    background-color: #FAE8C2; 
    margin-top: 140px;
    margin-left: 1100px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
  }

  .square {
    position: relative;
    width: 230px;
    height: 230px;
    background-color: #F9EFD9;
    top: 34px;
    left: 34px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 1, 1, 0.2);
  }

  .button {
    background-color: #FAE8C2; 
    border-style: none;
    font-family: "Apple Gothic", sans-serif;
    font-size: 18px;
    position: relative;
    margin-top: 60px;
    margin-left: 78px;
  }

.rectangle1,
.rectangle2,
.rectangle3,
.rectangle4 {
  position: relative;
  width: 300px;
  height: 450px;
  background-color: #FAE8C2;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  transform-style: preserve-3d;
  z-index: 1;
  transition-delay: 100ms;
}

.rectangle1 .back,
.rectangle2 .back,
.rectangle3 .back,
.rectangle4 .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B3B9D8;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  font-family: "Apple Gothic", sans-serif;
}

.rectangle1.flipped,
.rectangle2.flipped,
.rectangle3.flipped,
.rectangle4.flipped {
  transform: rotateY(180deg);
}

.rectangle1:hover,
.rectangle2:hover,
.rectangle3:hover,
.rectangle4:hover {
  transform: rotateY(180deg);
  transition-delay: 100ms;
}


