
@font-face {
    font-family: 'Apple Gothic';
    src: url('../src/assets/AppleSDGothicNeoR.ttf') format('truetype');
}

body{
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.image {
    height: 220px;
    width: 220px;
}
.content {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 100px;
    font-family: "Apple Gothic", sans-serif;
    color: #6C615A;
  }

.button {
    margin-top: 50px; 
    padding: 10px 50px;
    font-size: 16px;
    background-color: #D9D9D9; 
    color: #6C615A;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
  }
  
  .button:hover {
    background-color: #F1F1F1;
  }