

@font-face {
    font-family: 'Anek Gurmukhi';
    src: url('../assets/AnekGurmukhi-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'Antic Slab';
    src: url('../assets/AnticSlab-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Barlow';
    src: url('../assets/Barlow-Medium.ttf') format('truetype');
}

.heading {
    font-family: 'Anek Gurmukhi', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 0.8;
    color: #6C615A;
}

.largeText {
    font-size: 80px; 
    font-weight: bold;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .text {
    font-size: 16px;
    color: #6C615A;
    line-height: 2.4;

  }
  
  .button {
    padding: 15px 30px;
    font-family: 'Barlow', serif;
    font-weight: bold;
    font-size: 16px;
    background-color: #D9D9D9;
    color: #6C615A;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.8s ease;
  }

  .button:hover {
    background-color: #F1F1F1;
  }
  .button + .button {
    margin-left: 17px;
  }
  .image {
    margin-top: 80px;
    width: 700px;
    height: 590px;
  }
  
  .believeText {
    font-family: 'Antic Slab', serif; 
    font-size: 18px;
  }