@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@font-face {
    font-family: 'Apple Gothic';
    src: url('../src/assets/AppleSDGothicNeoR.ttf') format('truetype');
}

.nav {
  height: 70px;
  width: 100%;
  font-family: "Apple Gothic", sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  /* background-color: #242836; */
  /* background-color: #1c1f25; */
  background-color: rgba(250, 240, 218, 0);
  position: fixed; /* Add this line */
  top: 0; /* Add this line */
  z-index: 100; /* Optional: this ensures the navbar stays on top of other elements */
}


ul{
    /* flex: 1; */
    margin-right: 20px;
    width: 600px;
    list-style: none;
    text-align: center;
    /* background-color: aquamarine; */
}
ul li{
    display: inline-block;
    width: auto;
    margin: 10px 19px;
    font-size: 18px;
    cursor: pointer;
    color: #6C615A;
    /* background-color: blue; */
    /* color: white; */
    font-size: 28px;
}
.div{
    margin-right: auto;
    padding-bottom:  0% ;
}

.logo{
    /* background-color: greenyellow; */
    height: 70px;
    margin-top: 4px;
}

.removea
{
    text-decoration: none;
    color: #6C615A;
    font-size: 20px;
    font-family: "Apple Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: color 0.3s ease;
}

.removea:hover {
    color: #F1F1F1; /* Change the color on hover */
    
  }

.logo {
    font-family: "Apple Gothic", sans-serif;
    color: #5E554E;
    padding-left: 20px;
    padding-top: 25px;
}